{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}Create new user{% endblock %}

{% block page_title %}Create new user{% endblock %}

{% block content %}
    <form role="form" action="" method="post">{% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}
