{% extends 'base.html' %}

{% block title %}Delete confirmaion{% endblock %}

{% block page_title %}Are you sure you want to delete "{{ object.username }}"?{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form action="" method="post">{% csrf_token %}
                <div class="form-group">
                    <a href="{% url 'index' %}" class="col-md-5 btn btn-default btn-lg pull-left">Back</a>
                    <button type="submit" class="col-md-5 btn btn-danger btn-lg pull-right">Confirm</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}