{% extends 'base.html' %}

{% load profile_tags %}

{% block title %}All users list{% endblock %}

{% block page_title %}All users list{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Birthday</th>
                    <th>Eligible</th>
                    <th>Random Number</th>
                    <th>BizzFuzz</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'single' user.pk %}">{{ user.username }}</a></td>
                        <td>{{ user.profile.birth_date|default_if_none:"" }}</td>
                        <td>{% is_allowed user %}</td>
                        <td>{{ user.profile.random_number }}</td>
                        <td>{% bizz_or_fuzz user %}</td>
                        <td><a href="{% url 'edit' user.pk %}" class="btn btn-xs btn-primary"><span
                                class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a> <a
                                href="{% url 'delete' user.pk %}" class="btn btn-xs btn-danger"><span
                                class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a></td>
                    </tr>
                {% empty %}
                    <p>Please, add first user <a href="{% url 'create' %}">here</a>.</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}