{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}{% if object %}Edit user{% else %}Create new user{% endif %}{% endblock %}

{% block page_title %}{% if object %}Edit "{{ object.username }}"{% else %}Create new user{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form role="form" action="" method="post">{% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                    <a href="{% url 'index' %}" class="col-md-5 btn btn-default btn-lg pull-left">Back</a>
                    <button type="submit" class="col-md-5 btn btn-primary btn-lg pull-right">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}